.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
}

h1 {
  text-align: center;
}

@keyframes flash {
  0%,
  100% {
    background-color: white;
  }
  50% {
    background-color: red;
  }
}